General Styles
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

body {
    font-family: 'Arial', sans-serif;
    background: url(../images/background.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    width: 100%; 
    min-height: 100%; 
    display: flex;
    align-items: center;
    position: relative;
    overflow-y: auto;
}

.container-box {
    position: absolute;
    top: 300px;
    left: 750px;
    background-color: rgba(21, 19, 19, 0.5); 
    padding: 20px;
    border-radius: 15px; 
    width: 400px; 
    height: 165px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    animation: moveUp 0.8s ease-out forwards;
}

.container-box p {
    color: White; 
    font-size: 36px;
    text-align: center;
    margin-top: 5px;
}

.first-line {
    margin-bottom: 20px;
}

.text-image-button {
    display: inline-flex; /* Keeps the button on the same line as the text */
    align-items: center; /* Vertically centers the content within the button */
    padding: 5px 10px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    background-color: #4CAF50; /* Background color of the button */
    color: white; /* Text color */
    border: none;
    border-radius: 15px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    vertical-align: middle; /* Aligns with the text */
    margin-left: 2px;
    position: relative;
}

.image-container {
    position: relative;
    width: 47px; /* Set the width of the container (size of the images) */
    height: 60px; /* Set the height of the container (size of the images) */
    margin-left: 5px; /* Space between text and image */
}

.text-image-button img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.text-image-button .button-icon {
    z-index: 1;
    width: 47px; /* Adjust the size of the icon */
    height: 60px;
}

.text-image-button .button-icon-after {
    z-index: 2;
    width: 47px; /* Adjust the size of the icon */
    height: 60px;
    opacity: 0;
}

.text-image-button:hover {
    background-color: #45a049; /* Darker shade on hover */
    transform: scale(1.05); /* Expand the button slightly */
    box-shadow: 0 0 15px rgba(70, 211, 90, 0.6); /* Add a glowing effect */
    animation: pulse 1.5s infinite; /* Trigger the pulse effect */
}

.text-image-button:hover .button-icon {
    opacity: 0; /* Hide the original image */
}

.text-image-button:hover .button-icon-after {
    opacity: 1; /* Hide the original image */
}
.second-line {
    margin-top: -10px;
    font-size: 5px;
}

.text-image-button-2 {
    display: inline-flex; /* Keeps the button on the same line as the text */
    align-items: center; /* Vertically centers the content within the button */
    padding-top: 10px;
    font-size: 36px;
    font-family: 'Arial', sans-serif;
    background-color: white; /* Background color of the button */
    color: white; /* Text color */
    border: none;
    border-radius: 15px; /* Rounded corners */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    vertical-align: middle; /* Aligns with the text */
    margin-left: 2px;
    position: relative;
    margin-top: 2px;
}

.image-container-2 {
    position: relative;
    width: 45px; /* Set the width of the container (size of the images) */
    height: 40px; /* Set the height of the container (size of the images) */
    margin-left: 5px; /* Space between text and image */
    margin-right: 8px;
}

.text-image-button-2 .button-icon-cal {
    width: 45px;
    height: 35px;
}

.text-image-button-2:hover {
    background-color: rgb(239, 236, 236); /* Darker shade on hover */
    transform: scale(1.1); /* Expand the button slightly */
    box-shadow: 0 0 15px rgba(170, 170, 170, 0.6); /* Add a glowing effect */
    animation: pulse 1.5s infinite; /* Trigger the pulse effect */
}

.nav-container {
    background-color: #333; /* Background color of the navbar */
    padding: 10px 0;
    overflow: hidden; /* Ensures the navbar stays within the view */
    width: 500px;
    height: 500px;
    position: fixed;
    top: 830px;
    left: 830px;
    border-radius: 15px; 
    width: 260px; 
    height: 40px;
    display: inline-flex;
    z-index: 10000000;
}

.nav-container .nav-button {
    margin-left: 20px;
    display: inline-flex;
    background: rgb(70, 69, 69);
    border:#333;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth hover effect */
    height:40px;
    padding: 5px;
}

.nav-container .nav-button img {
    display: inline-flex;
    width: 30px; /* Set the size of the icons */
    height: 30px;
    object-fit: contain;
}

.nav-container .nav-button:hover {
    transform: scale(1.2); /* Slightly enlarge the button on hover */
    background-color: orange;
}
.about-page {
    margin-bottom: 500px;
    height: 1100px;
}

.about-container {
    position: absolute;
    top: 50px;
    left: 530px;
    background-color: rgba(21, 19, 19, 0.5); 
    padding: 20px;
    border-radius: 15px; 
    width: 300px; 
    height: 580px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1;
}

.intro {
    flex: 1; /* Allow the intro text to take up 1 portion of the available space */
    max-width: 300px; /* Limit the width of the text area */
    text-align: left;
    /* margin-left: 530px;
    margin-top: 230px; */
    z-index: 1000000;
}

.intro h1 {
    margin-bottom: 20px;
    font-size: 33px;
    color: white;
}

.intro p {
    font-size: 17px;
    color: white;
}


.carousel-container {
    position: relative;
    max-width: 300px; /* Adjust the width as needed */
    height: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-image {
    min-width: 100%;
    height: auto;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 100;
    border-radius: 50%;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

.extra-container {
    position: absolute;
    top: 50px;
    left: 900px;
    background-color: rgba(21, 19, 19, 0.5); 
    padding: 20px;
    border-radius: 15px; 
    width: 700px; 
    height: 340px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1;
    color: white;
    line-height: 1.5;
}

.experience-container {
    position: absolute;
    top: 470px;
    left: 900px;
    background-color: rgba(21, 19, 19, 0.5); 
    padding: 20px;
    border-radius: 15px; 
    width: 700px; 
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1;
    margin-top: -10px;
    margin-bottom: 100px;
    color: white;
}



@keyframes moveUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Normal size */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Default shadow */
    }
    50% {
        transform: scale(1.02); /* Slightly larger */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Stronger shadow */
    }
    100% {
        transform: scale(1); /* Back to normal size */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Default shadow */
    }
}